*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
nav{
    background-color:#eee;
    border-right: 2px solid #777;
    width: 300px;
    height: 100vh;
}
nav header{
    padding: 15px;
}
nav a{
    border-top: 1px solid #ddd;
    color: black;
    display: block;
    padding: 15px;
    text-decoration: none;

}
main{
    flex: 1;
    height:100vh ;
overflow-y: scroll;
}
section{
    padding: 15px;
    line-height: 1.5;
}
header{
    font-size: 24px;
    font-weight: 500;
    padding: 15px;

}
pre{
    background-color: #ddd;
    padding-top: 10px;
}
@media(max-width:600px){
    body{
        flex-direction: column;
    }
    nav{
        width: 100%;
        height: 200px;
        overflow-y: scroll;
        border-radius: none;
        border-bottom: 2px solid #777;
    }
    main{
        width: 100%;
        height: auto;
    }
}